@model IEnumerable<RAREBelief.Domain.Model.Blog>
@{
    ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>
@if (Model.Any())
{
<table>
    <thead>
        <tr>
            <th>
                Title
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div>No blogs yet.</div>
}
<a href="@Url.Action("Create", "Blog")">Create</a>

