@{
    ViewBag.Title = "RAREBelief";
}

<div class="jumbotron">
    <h1>RAREBelief</h1>
    <p class="lead">RAREBelief at its core is a belief/methodology that I developed from my life experiences.   The “RARE” belief helps you to become self-actualized.  Each RAREBelief member may choose to advance the belief to others.   “RARE” stands for Right Attitude Resolves Everything.  There is a wealth of information that shows how attitude impacts our feelings about ourselves, others and our surroundings.   My Persian ancestors were Zoroastrians who believed in “Good Thoughts”, “Good Words”, and “Good Deeds” which I assume you agree that is a person with a good attitude.  I am not going to try to convert you or anyone to become a Zoroastrian or change your culture or beliefs.   Instead I am going to prove to you that by applying the simple principles of RAREBelief you will be much more effective identifying what is important to you and achieve it more effectively.</p>
    <p><a href="http://asp.net" class="btn btn-success btn-lg">Donate</a></p>
</div>